*.log
/NewsMart_ECommece_Laravel/.DS_Store
/NewsMart_ECommece_Laravel/.env
/NewsMart_ECommece_Laravel/.env.backup
/NewsMart_ECommece_Laravel/.env.production
/NewsMart_ECommece_Laravel/.phpactor.json
/NewsMart_ECommece_Laravel/.phpunit.result.cache
/NewsMart_ECommece_Laravel/.fleet
/NewsMart_ECommece_Laravel/.idea
/NewsMart_ECommece_Laravel/.nova
/NewsMart_ECommece_Laravel/.phpunit.cache
/NewsMart_ECommece_Laravel/.vscode
/NewsMart_ECommece_Laravel/.zed
/NewsMart_ECommece_Laravel/auth.json
/NewsMart_ECommece_Laravel/node_modules
/NewsMart_ECommece_Laravel/public/build
/NewsMart_ECommece_Laravel/public/hot
/NewsMart_ECommece_Laravel/public/storage
/NewsMart_ECommece_Laravel/storage/*.key
/NewsMart_ECommece_Laravel/storage/pail
/NewsMart_ECommece_Laravel/vendor
/NewsMart_ECommece_Laravel/Homestead.json
/NewsMart_ECommece_Laravel/Homestead.yaml
/NewsMart_ECommece_Laravel/Thumbs.db
