/NewsMart_ECommerce_Laravel/.env

*.log
/NewsMart_ECommerce_Laravel/.DS_Store
/NewsMart_ECommerce_Laravel/.env
/NewsMart_ECommerce_Laravel/.env.backup
/NewsMart_ECommerce_Laravel/.env.production
/NewsMart_ECommerce_Laravel/.phpactor.json
/NewsMart_ECommerce_Laravel/.phpunit.result.cache
/NewsMart_ECommerce_Laravel/.fleet
/NewsMart_ECommerce_Laravel/.idea
/NewsMart_ECommerce_Laravel/.nova
/NewsMart_ECommerce_Laravel/.phpunit.cache
/NewsMart_ECommerce_Laravel/.vscode
/NewsMart_ECommerce_Laravel/.zed
/NewsMart_ECommerce_Laravel/auth.json
/NewsMart_ECommerce_Laravel/node_modules
/NewsMart_ECommerce_Laravel/public/build
/NewsMart_ECommerce_Laravel/public/hot
/NewsMart_ECommerce_Laravel/public/storage
/NewsMart_ECommerce_Laravel/storage/*.key
/NewsMart_ECommerce_Laravel/storage/pail
/NewsMart_ECommerce_Laravel/vendor
/NewsMart_ECommerce_Laravel/Homestead.json
/NewsMart_ECommerce_Laravel/Homestead.yaml
/NewsMart_ECommerce_Laravel/Thumbs.db


