*.log
/FriendMart_Laravel_Website/.DS_Store
/FriendMart_Laravel_Website/.env
/FriendMart_Laravel_Website/.env.backup
/FriendMart_Laravel_Website/.env.production
/FriendMart_Laravel_Website/.phpactor.json
/FriendMart_Laravel_Website/.phpunit.result.cache
/FriendMart_Laravel_Website/.fleet
/FriendMart_Laravel_Website/.idea
/FriendMart_Laravel_Website/.nova
/FriendMart_Laravel_Website/.phpunit.cache
/FriendMart_Laravel_Website/.vscode
/FriendMart_Laravel_Website/.zed
/FriendMart_Laravel_Website/auth.json
/FriendMart_Laravel_Website/node_modules
/FriendMart_Laravel_Website/public/build
/FriendMart_Laravel_Website/public/hot
/FriendMart_Laravel_Website/public/storage
/FriendMart_Laravel_Website/storage/*.key
/FriendMart_Laravel_Website/storage/pail
/FriendMart_Laravel_Website/vendor
/FriendMart_Laravel_Website/Homestead.json
/FriendMart_Laravel_Website/Homestead.yaml
/FriendMart_Laravel_Website/Thumbs.db
